table {
  width: 600px;
  height: 400px;
  border: solid;
  border-right: solid;
  border-bottom: solid;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.display {
  font-size: 40px;
  color: white;
  width: 800px;
  text-align: right;
  background: black;
  border-top: solid;
  border-bottom: solid;
  border-right: solid;
  border-left: solid;
  border-radius: 5px;
  padding-right: 15px;
}

input {
  width: 200px;
  height: 70px;
  font-size: 25px;
  background-color: lightgray;
  border-radius: 20px;
  font-weight: 700;
  border: solid;
}

#btn_ac {
  width: 400px;
  height: 70px;
  font-size: 25px;
  background-color: lightgray;
  border-radius: 20px;
  border: solid;
}

#btn_equal {
  width: 400px;
  height: 70px;
  font-size: 25px;
  background-color: lightgray;
  border-radius: 20px;
  border: solid;
}

input:hover {
  background: darkgray;
}

#btn_ac:hover {
  background-color: darkgray;
}

#btn_equal:hover {
  background-color: darkgray;
}

.display:hover {
  background: black;
}
